$breakpoints: (
    laptop: 1680,
    laptop-medium: 1440,
    laptop-small: 1366,
    tablet-big: 1280,
    tablet-landscape: 1126,
    tablet: 980,
    mobile: 650,
    mobile-small: 320
);

//colors
$bg: #F8F8F8;
$bg-light: #fff;
$text: #636363;
$border: #E8E8E8;

$primary: #f76e39;
$secondary: #c63365;

//dark colors
$bg--dark: #161D31;
$bg-light--dark: #283046;
$text--dark: #d0d2d6;
$border--dark: #404656;

$primary--dark: #ff7d3a;
$secondary--dark: #ec3c78;

//fonts
$font: 'Montserrat';
